.setup-page-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0.0, 0.0, 0.0, 0.05);
    overflow: hidden;
}

.input-url {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 60%;
}

.input {
    width: 60%;
}
.input-url button{
    align-self: center;
    padding-top: 1%;
    width: 10%;
}

.hidden {
    transition: 500ms ease-in;
    left: -100vw;
    width: 0vw;
    z-index: -20;
}

.post-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-input select {
    width: 50vw;
}

.post-input button {
    margin-left: 40%;
    margin-top: 4%;

}

.testt {
    float: right;
}