:root {
    --primary-color: #90A4AE;
    --primary-color-dark: #66808d;
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #9E9E9E;
    --terciary-color: #90A4AE;

    --primary-contrast-color: #e7bcbc;

    --first-column-width: 18%;
    --second-column-width: 82%;
}

.App {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    
    background-image: url('../../public/images/tech_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-wrapper {
    display: flex;
    flex-direction: column;

    height: inherit;
    width: inherit;
}

.welcome-text {
    align-self: center;
    margin-top: 8%;
    font-size: 4rem;

    color: lightgray;
}

.blog-links {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.home-menu {
    align-self: center;
    width: 25%;
    height: 10%;
    margin-top: 14%;
}

.home-menu-btn {
    width: 100%;
    height: 100%;

    font-size: 1.5rem;
    color: lightgray;

    background-color: rgba(0, 0, 0, 0.35);
}

.home-menu-btn:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.visualizer {
    /*page font*/
    font-size: 20px;
    font-family: 'EB Garamond', serif;

    /*grid settings*/
    display: grid;
    grid-template-columns: var(--first-column-width) var(--second-column-width);
    grid-template-rows: 8vh 4vh 88vh;

    /*page settings*/
    overflow-y: hidden;
    height: 100vh;
    text-align: center;

    transition: 0.5s;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.25);
}

.classroom {
    overflow-y: auto;
    background-color: #eeeeee;
}

.classroom::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.classroom-view {
    width: 100%;
}

.classroom-view button {
    width: 95%;
    margin-left: 2.5%;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 2%;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.classroom-view h2 button {
    text-decoration: none !important;
    color: #575757;
}

.classroom-nav {
    grid-column: 1;
    grid-row: 2 / 4;

    background-color: #eeeeee;
    /* background-color:green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.expand-students {
    transition: 1s;
    width: 100%;
}

.students-wrapper {
    grid-column: 1 / 3;
    grid-row: 3;

    margin-top: auto;
    height: 12%;
    background-color: rgba(0, 0, 0, 0);

    z-index: 10;
}

.students {
    background-color: #f2f19b;
    height: 100%;
    width: 18%;
}

.students button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.students button i {
    margin-right: 6%;
}

.students button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.student {
    transition: 500ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: var(--primary-contrast-color);
    width: 0%;
    height: 100%;
    z-index: 11;
}

.student-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 50%;
}

.student button {
    width: 5%;
}

.range-input {
    display: flex;
    flex-direction: column;
    width: 22%;
}

.range-input label {
    font-size: 1rem;
}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 1 / 3;
    grid-row: 1;
}

.tab {
    height: 100%;
    width: 30%;
    padding-left: 4%;
    padding-right: 20%;
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
    text-decoration: none !important;
    color: #fff;
    font-size: 24px;
}

.active-tab {
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 5px  solid;
    border-color: rgba(0.0, 0.0, 0.0, 0.15);
}


.tab:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(0.0, 0.0, 0.0, 0.0);
}

.tag {
    grid-row: 2;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    padding-left: 2%;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: start;
    background-color: #f9fac2;
    /* background-color: #cdd0d6; */
}

.search-bar {
    display: flex;
    flex-flow: row;
    align-self: center;
    align-items: center;
    height: 70%;
    width: 32%;
    margin: 2%;
    background-color: rgba(0, 0, 0, 0.1);
}

.search-bar input {
    border: 0px solid;
    padding: 5%;
    width: 95%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.0);
}

.search-bar i {
    padding: 0.5% 3% 0% 0%;
    width: 5%;
    margin-right: 2%;
    margin-left: auto;
}

.hide-view {
    display: none;
    z-index: -5;
    opacity: 0;
}

.comments {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    background-color: #e0e0e0;
    grid-row: 3;
    grid-column: 2;

}

.comment {
    width: 92%;
    margin: 3% 4% 4%;
    background-color: #fff;
    align-self: flex-end;
    border-top: 2px solid greenyellow;
}

.manager-comment {
    border-top: 2px solid crimson !important;
}

.manager-picklist {
    margin-top: 3.5%;
}

.comment-published {
    align-self: center;
    margin-left: auto;
    color: darkgray;
    font-size: .8em;
}

.ribbon {
    background-color: green;
    height: 100%;
    width: 40%;
    margin-right: auto;
}

.post-content {
    display: flex;
    flex-flow: column;
    margin: 3% 4% 4% 4%;
    background-color: #fff;
    justify-content: flex-end;
}

.response {
    align-self: flex-end;
    justify-self: flex-end;
    width: 80%;
    margin: 0% 4% 4%;
    padding: 2%;
    background-color: hsl(0, 0%, 96%) !important;
    border-top: 2px solid grey;
}

.comment-header {
    display: flex;
    padding: 1% 0% 0% 1%;
    margin-bottom: 1%;
}
/*
.comment-picture {
    margin: 0% 1% 1% 0%;
    margin-right: 2.5%;
    width: 40px;
    height: 40px;
}
*/
.comment-content {
    padding: 0% 1% 1% 1%;
    text-align: justify;
}

.post-text {
    padding: 0% 1% 1% 1%;
    text-align: justify;
}

.diagram {
    grid-row: 3;
    grid-column: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 10%;
    overflow-y: auto;
    background-color: #e0e0e0;
}

.classroom-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.node-list{
    display: flex;
    flex-flow: column;
    margin-right: 4%;
    margin-left: 4%;
}

.node-list .node {
    margin-top: 2%;
    padding: 4%;
}

.node-list .node:hover {
    transition: 0.3s;
    cursor: pointer;
    color: var(--primary-color-dark) !important;
    background-color: rgba(102, 128, 141, 0.12);
}

.node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.node-img {
    height: 10%;
    width: 10%;
    margin-top: 4%;
}

.node-text {
    text-align: justify;
    width: 50%;
    font-size: 16px;
    color: black;
    margin-top: 5%;
    margin-left: 5%;
}

.node-text-number {
    float: right;
    font-size: 16px;
    color: black;
    margin-top: 5%;
}

.node-img, .node-text, .node-text-number {
    margin-bottom: 4%;
}

.posts {
    align-self: center;
    margin-left: auto;
    height: 100%;
    width: 5%;
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
}

.btn-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
}

.btn-clear i {
    margin-bottom: 2%;
}

.btn-clear:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.return-button {
    width: 100%;
    height: 100%;
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
}

.drawer-button {
    width: 100%;
    height: 100%;
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
}

.drawer-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidenav {
    display:flex; flex-flow: column; align-items: center;
    height: 100%;
    text-align: justify;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
      text-decoration: none;
  }

  .post {
    width: 100%;    
    padding: 3%;
    text-decoration: none;
    font-size: 20px;
    color: #575757;
    display: block;
    transition: 0.3s; 
  }
  
  .post:hover {
    cursor: pointer;
    background-color: rgba(102, 128, 141, 0.12);
    color: var(--primary-color-dark);
  }
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    justify-self: flex-end; 
    color: #575757;
}

.closebtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.profile-pic { 
    margin-top: .5%;
    width: 30px;
    height: 30px; 
}
.profile-pic img { 
    width: 30px;
    height: 30px; 

}

.loading-overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--terciary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

mark {
    background: lightcoral;
}

.expand-replies-btn {
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: auto;
    margin-bottom: 3%;
    margin-top: 4%;
    color: #3281c2;
    background-color: rgba(0, 0, 0, 0.0);
}

.expand-replies-btn:hover {
    text-decoration: underline;
}

.expand-replies-btn i {
    transition: 500ms ease-out;
    color: black;
    padding-left: 5%;
    pointer-events: none;
}

.rotate {
    transition: 500ms ease-in;
    transform-origin: center center;
    transform: rotateX(180deg);
}

.filtersign {
    margin-top: 0%;
    height: auto;
    margin-right: auto;
    margin-left: 4%;
    padding: .5%;
    color: white;
    background-color: var(--primary-color-dark);
    width: auto;

    position: fixed;
    z-index: 2;
}

.hide-filtersign {
    transition: 150ms ease-out;
    opacity: 0;
    z-index: -1;
}

.filtersign-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.file-upload {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 30%;
}

.file-upload h5{ 
    width: 100%;
    text-align: left;
}

.file-upload button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.picklist {
    align-items: center;
    width: 30%;
}

/* .filtersign-content button {
    
} */

.filtersign-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5%;
}

.filtersign-element i {
    margin-top: .9%;
}

.dropzone-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropzone-wrapper button {
    height: 5%;
}

.dropzone {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-style: dashed;
    width: 25%;
    padding: 5%;
    margin: 5%;
}

.popper-btn {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px !important;
    width: 30px !important;

    background-color: rgba(0, 0, 0, 0.15);
}

.popper-btn:hover {
    transition: 250ms;
    background-color: rgba(0, 0, 0, 0.4);
}

.profile-name { font-weight: bold; margin-top: 1%; margin-left: 2%; }
.post-title { font-size: 1.5em; font-weight: bold; margin-top: 1.5%; margin-left: 2%; float: left; }
.hide { transition: 600ms; opacity: 0; }
.show { transition: 600ms; opacity: 0; }
.hidden { display: none; opacity: 0;}

button { border: none; }
button:focus { outline:0; }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }